*{
    box-sizing: border-box;
}

body{
    width: 512px;
    border: dotted 1px black;
    margin: 0 auto;
    
}

#maxi-container{
    width: 512px;
    background-color: #191d7b;
}


img{
    max-width: 100%;
    max-height: 100%;
}


#titolo{
    margin-top: 5rem;
    color: white;
    font-family: 'Sigmar';
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.5rem;

    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

#presentation-text{
    color: white;
    font-family: 'DM Sans';
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0;
    
}

button{
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 30px;
    padding-bottom: 60px;
    padding-top: 20px;
}


.item-title{
    margin-top: 4rem;
    color: white;
    font-family: 'Sigmar';
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    line-height: 2.5rem;

    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.card{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 6rem;
    border-radius: 30px;
    position: relative;
    z-index: 1;
}

.card-classic{
    background-color: #5d64d1;
}


.card-bonus{
    background-image: url("../img/background.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.item-text{
    color: white;
    font-family: 'DM Sans';
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0;
}

.item-area{
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.card-video{
    width: 351px;
    border-radius: 30px;

}

.card-image{
    width: 351px;
    border-radius: 30px;
}

.icon-card{
    width: 128px;
    height: 128px;

    position: absolute;
    top:0;
    left:10%;
    z-index: 2;
    translate: 0 -50%;
}



/*
non dimenticare di passare dal validator
*/
