body{
    width: 512px;
    border: dotted 1px black;
    
}

#maxi-container{
    background-color: #191d7b;
}

#banner{
    max-width: 512px;
}

#banner-img{
    max-width: 512px;
}


#titolo{
    /*
    background-color: #191d7b; 
    */
    margin-top: 5rem;
    color: white;
    font-family: 'Sigmar';
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.5rem;

    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

#presentation-text{
    color: white;
    font-family: 'DM Sans';
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0;
    
}
/*
non dimenticare di passare dal validator
*/
