*{
    box-sizing: border-box;
}

body{
    width: 512px;
    border: dotted 1px black;
    
}

#maxi-container{
    width: 512px;
    background-color: #191d7b;
}

#banner{
    max-width: 512px;
}


#titolo{
    margin-top: 5rem;
    color: white;
    font-family: 'Sigmar';
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.5rem;

    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

#presentation-text{
    color: white;
    font-family: 'DM Sans';
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0;
    
}

button{
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 30px;
    padding-bottom: 60px;
    padding-top: 20px;
}


.card-title{
    margin-top: 4rem;
    color: white;
    font-family: 'Sigmar';
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    line-height: 2.5rem;

    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.card{
    background-color: #5d64d1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    border-radius: 30px;
}

.card-text{
    color: white;
    font-family: 'DM Sans';
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0;
}

.video-area{
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.card-video{
    width: 351px;
    border-radius: 30px;
}

/*
non dimenticare di passare dal validator
*/
